version: '3.9'

services:
    nginx:
        image: abc.docker-registry.gewis.nl/web/pwned-passwords/nginx:latest
        depends_on:
            - api
        networks:
            - pwned-passwords_network
        ports:
            -   target: 8000
                published: 9250
                protocol: tcp
                mode: ingress
        deploy:
            mode: replicated
            replicas: 2
            update_config:
                parallelism: 1
                delay: 10s
            restart_policy:
                condition: on-failure
        restart: unless-stopped
    api:
        image: abc.docker-registry.gewis.nl/web/pwned-passwords/api:latest
        depends_on:
            - redis
        networks:
            - pwned-passwords_network
        deploy:
            mode: replicated
            replicas: 2
            update_config:
                parallelism: 1
                delay: 10s
            restart_policy:
                condition: on-failure
        restart: unless-stopped
    redis:
        image: abc.docker-registry.gewis.nl/web/pwned-passwords/redis:latest
        networks:
            - pwned-passwords_network
        restart: unless-stopped
        healthcheck:
            test: [ "CMD", "redis-cli", "--raw", "incr", "ping" ]
        deploy:
            mode: replicated
            replicas: 2
            # Very strictly limit Redis to run only once per node (due to memory usage).
            placement:
                max_replicas_per_node: 1
            update_config:
                parallelism: 1
                delay: 20s
            restart_policy:
                condition: on-failure
                # Give the node(s) enough time to reclaim potentially used resources between attempts.
                delay: 10s

networks:
    pwned-passwords_network:
