version: '3.9'

services:
    nginx:
        image: abc.docker-registry.gewis.nl/web/pwned-passwords/nginx:latest
        build:
            dockerfile: docker/nginx/Dockerfile
            context: .
        depends_on:
            - api
            - redis
        networks:
            - pwned-passwords_network
        ports:
            - "80:8000"
        restart: unless-stopped
    api:
        image: abc.docker-registry.gewis.nl/web/pwned-passwords/api:latest
        build:
            dockerfile: docker/api/Dockerfile
            context: .
        depends_on:
            - redis
        networks:
            - pwned-passwords_network
        restart: unless-stopped
    redis:
        image: abc.docker-registry.gewis.nl/web/pwned-passwords/redis:latest
        build:
            dockerfile: docker/redis/Dockerfile
            context: .
        networks:
            - pwned-passwords_network
        restart: unless-stopped
